on fs
    wait /dev/block/platform/tcc-sdhc.2
    symlink /dev/block/platform/tcc-sdhc.2 /dev/block/platform/bdm

on init
    #2017.12.13 USB VBUS control timint tuning
    write /sys/module/tcc_dwc_otg/parameters/vbus_control_enable 1
    write /sys/devices/dwc_otg/vbus off
    write /sys/devices/dwc_otg/phystatus off
    write /sys/module/tcc_dwc_otg/parameters/vbus_control_enable 0

on boot
    write /sys/devices/dwc_otg/usb1/force_hub_reset 0
    write /sys/devices/dwc_otg/drdmode device
